<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1>Search Results</h1>
  <a href="/">Back to Home</a>
  <ul>
    <% books.forEach(book => { %>
      <li>
        <form action="/add" method="post">
          <input type="hidden" name="title" value="<%= book.title %>">
          <input type="hidden" name="author" value="<%= book.author_name ? book.author_name[0] : 'Unknown' %>">
          <input type="hidden" name="cover" value="<%= book.cover_i ? 'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg' : '' %>">
          <button type="submit">Save</button>
          <img src="<%= book.cover_i ? 'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg' : '' %>" width="100">
          <strong><%= book.title %></strong> by <%= book.author_name ? book.author_name[0] : 'Unknown' %>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
